.footer {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 155px 110px;
    background: #0060E0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .container .logo {
    align-self: start;
    margin-bottom: 52px;
}

.footer .container .base-block {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 850px;
    margin-bottom: 110px;
}

.footer .container .base-block .email {
    display: flex;
    flex-direction: column;
}

.footer .container .base-block .email .email-label {
    max-width: 200px;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 30px;
}

.footer .container .base-block .email .email-input {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: transparent;
    padding: 20px 135px 0 0;
    border-bottom: 1px solid #136CE2;
}

.footer .container .base-block .email .email-line {
    display: flex;
}

.footer .container .base-block .email .email-input::placeholder {
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer .container .base-block .links {
    display: flex;
    flex-direction: column;
}

.footer .container .base-block .links .link {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer .container .base-block .links .word-opacity {
    opacity: 0.3;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer .container .social-sites {
    display: flex;
    align-self: flex-end;
    margin-bottom: 65px;
}

.footer .container .social-sites a {
    margin-left: 40px;
}

.footer .container .copyright {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer .container .copyright-item {
    font-size: 15px;
    line-height: 20px;
}

.footer .container .copyright-item.opacity {
    opacity: 0.5;
}

/* Кнопка возврата на верх страницы */
.back-to-top {
    position: absolute;
    bottom: 22px;
    right: 28px;
}
