.header {
	font-family: 'DM Sans', sans-serif;
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	height: 60px;
	z-index: 2;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .container .links {
	display: flex;
	width: 100%;
	max-width: 600px;
	justify-content: space-between;
	align-items: center;
}

.header .container .links .link {
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
}

/* Кнопка покупки */
.button {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: 0.3s;
}

.button:hover {
    color: #0060E0;
    background: #FFFFFF;
}